.home-container{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
    justify-content: center;
    position: relative;
    overflow: scroll;
    /* background-color: red; */
    /* flex-direction: row; */
}

.container-content{
    /* width: 100%;*/
    /* background-color: red;  */
    display: flex;
    max-width: 1200px;
    margin: 0px 20px;
    width: 100%;
    height: fit-content;
    position: relative;
    /* overflow: hidden; */
}

.feed{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow: scroll; */
    /* background-color: blue; */
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sub-content{
    display: flex;
    flex: 1;
    height: 100%;
    min-width: 300px;
    justify-content: center;
    position: sticky;
    top: 5px;
    right: -50%
}

.sub-content-bubble{
    margin-top: 20px;
    height: fit-content;
    width: 86%;
    min-width: 86%;
    border: 1px solid #C4C4C4;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.bubble-content{
    display: flex;
    flex-direction: column;
    gap: 18px
}

.bubble-header{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px
}

.bubble-subbreadits{
    display: flex;
    align-items: center;
    gap: 10px
}

.bubble-subbreadits:hover{
    cursor: pointer;
}

.bubble-toast{
    height: 35px;
    width: auto
}

.sub-count{
    margin-top: 4px;
    font-size: 11px;
    color: #C4C4C4
}

.github{
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 1;
}

.github-logo {
    float: right;
}

.team-members {
    display: flex;
    flex-direction: column-reverse;
    /* gap: 5px; */
    position: relative;
    right: 0px;
    bottom: 5px;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
}

.team-member-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    border: 0.5px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

.team-member-container:hover {
    background-color: whitesmoke;
}

.team-member-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

@media (max-width: 1000px){
    .sub-content{
        display: none;
    }
}
