.side-bar{
    display: flex;
    flex: 1;
    min-width: 110px;
    height: 100%;
    border-right: #C4C4C4 1px solid;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    /* background-color: blue; */
}

.side-bar-margin{
    height: 15px;
    width: 100%;
    /* background-color: red; */
}

.side-bar-row{
    color: #C4C4C4;
    display: flex;
    gap: 4px;
    height: fit-content;
    align-items: center;
    /* background-color: blue; */
    /* justify-content: center; */
}

.side-bar-row:hover{
    cursor: pointer;
}