.subbreadit-header{
    width: calc(100% - 100px);
    justify-content: start;
    /* background-color: red; */
}

.subbreadit-content{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
}

.subbreadit{
    height: 65px;
    width: auto;
}

.subbreadit-divider{
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
}

.sub-content-container{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    height: fit-content;
}

.sub-content-button-container{
    align-self: flex-end;
}

.sub-content-button{
    margin-top: 20px;
    font-size: 18px;
    padding: 6px 40px;
    border: 2px solid #480B0B;
    background-color: #D5A600;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 2.5%;
    margin-bottom: -7px;
    /* width: 100% */
}

.sub-content-bubble-header{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 12px
}

.bubble-header-subbreadit{
    height: 40px
}

.sub-content-bubble-description{
    display: flex;
    flex: 1;
    min-width: calc(300px - 40px);
}

.subscription-button{
    width: 100%;
    font-size: 16px;
    padding: 11px 0px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none
}

.un{
    color: black;
    background-color: #C4C4C4;
}

.sub-content-bubble-stats{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 6px 0px;
}

.sub-content-bubble-stats-column{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.sub-content-bubble-stats-column-text-md{
    font-weight: 500;
}

.sub-content-bubble-stats-column-text-sm{
    font-size: 12px;
}

.toast-update{
    margin-top: 15px;
    display: flex;
    gap: 8px
}

.toast-update-icon{
    height: 20px;
    width: auto;
}

.toast-update-icon:hover{
    cursor: pointer
}

.single-toast-bubble{
    width: calc(100% - 100px);
    padding: 20px;
    /* background-color: blue; */
    border-radius: 30px;
    display: flex;
    gap: 14px; 
    margin: 15px 0px;
    border: 1px solid #C4C4C4
}

.comments-info{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 12px
}

.comments-button{
    display: flex;
    align-items: center;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    gap: 5px;
    background-color: #F6F6F6
}

.comment-content-container{
    width: calc(100% - 100px);
    /* background-color: blue; */
    display: flex;
    gap: 14px; 
}

.comments-content-container{
    margin-top: 20px;
    width: calc(100% - 100px);
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 14px; 
}

.comment-content{
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
    margin: 5px 0px
}

.comment-content-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line{
    height: calc(100% - 10px);
    width: 1px;
    margin-top: 10px;
    background-color: #C4C4C4;
}

.edited{
    color: #C4C4C4
}

@media (max-width: 750px){
    .single-toast-bubble{
        width: calc(100% - 50px)}
}